--
-- PostgreSQL database dump
--

\restrict fofmWZZa5EMBYmPIcCwx7B4CEY9hxB8mxm76nM3itgVwRFN08pLgdSdd0yh15KL

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: app_notifications_type_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.app_notifications_type_enum AS ENUM (
    'message',
    'request',
    'comment',
    'favorite_provider_update',
    'system'
);


ALTER TYPE public.app_notifications_type_enum OWNER TO admin;

--
-- Name: conversations_status_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.conversations_status_enum AS ENUM (
    'open',
    'archived'
);


ALTER TYPE public.conversations_status_enum OWNER TO admin;

--
-- Name: customer_preferences_selected_plan_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.customer_preferences_selected_plan_enum AS ENUM (
    'free',
    'premium'
);


ALTER TYPE public.customer_preferences_selected_plan_enum OWNER TO admin;

--
-- Name: provider_media_media_type_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.provider_media_media_type_enum AS ENUM (
    'image',
    'video'
);


ALTER TYPE public.provider_media_media_type_enum OWNER TO admin;

--
-- Name: provider_moderation_reviews_decision_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.provider_moderation_reviews_decision_enum AS ENUM (
    'approved',
    'rejected',
    'request_info',
    'suspended'
);


ALTER TYPE public.provider_moderation_reviews_decision_enum OWNER TO admin;

--
-- Name: provider_preferences_selected_plan_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.provider_preferences_selected_plan_enum AS ENUM (
    'basic',
    'pro',
    'business'
);


ALTER TYPE public.provider_preferences_selected_plan_enum OWNER TO admin;

--
-- Name: service_providers_service_coverage_mode_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.service_providers_service_coverage_mode_enum AS ENUM (
    'wilaya_only',
    'regional',
    'nationwide'
);


ALTER TYPE public.service_providers_service_coverage_mode_enum OWNER TO admin;

--
-- Name: service_providers_status_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.service_providers_status_enum AS ENUM (
    'pending',
    'approved',
    'rejected',
    'suspended'
);


ALTER TYPE public.service_providers_status_enum OWNER TO admin;

--
-- Name: service_requests_status_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.service_requests_status_enum AS ENUM (
    'new',
    'reviewed',
    'quoted',
    'accepted',
    'rejected',
    'in_progress',
    'completed',
    'cancelled'
);


ALTER TYPE public.service_requests_status_enum OWNER TO admin;

--
-- Name: services_delivery_mode_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.services_delivery_mode_enum AS ENUM (
    'online',
    'on_site',
    'hybrid'
);


ALTER TYPE public.services_delivery_mode_enum OWNER TO admin;

--
-- Name: services_status_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.services_status_enum AS ENUM (
    'draft',
    'published',
    'paused'
);


ALTER TYPE public.services_status_enum OWNER TO admin;

--
-- Name: users_role_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.users_role_enum AS ENUM (
    'customer',
    'service_provider',
    'reviewer',
    'admin',
    'super_admin'
);


ALTER TYPE public.users_role_enum OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_notifications; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.app_notifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    recipient_user_id uuid NOT NULL,
    actor_user_id uuid,
    type public.app_notifications_type_enum DEFAULT 'system'::public.app_notifications_type_enum NOT NULL,
    title character varying(180) NOT NULL,
    body text NOT NULL,
    link character varying(500),
    is_read boolean DEFAULT false NOT NULL,
    read_at timestamp without time zone,
    metadata_json text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.app_notifications OWNER TO admin;

--
-- Name: app_settings; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.app_settings (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    key character varying(120) NOT NULL,
    value_json text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.app_settings OWNER TO admin;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.categories (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(120) NOT NULL,
    slug character varying(160) NOT NULL,
    description text,
    icon_url character varying(500),
    parent_id uuid,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.categories OWNER TO admin;

--
-- Name: conversation_messages; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.conversation_messages (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    conversation_id uuid NOT NULL,
    sender_user_id uuid NOT NULL,
    sender_role character varying(40) NOT NULL,
    body text NOT NULL,
    is_ai_assisted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.conversation_messages OWNER TO admin;

--
-- Name: conversations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.conversations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    customer_user_id uuid NOT NULL,
    provider_id uuid NOT NULL,
    service_id uuid,
    subject character varying(180),
    status public.conversations_status_enum DEFAULT 'open'::public.conversations_status_enum NOT NULL,
    last_message_preview character varying(500),
    last_message_at timestamp without time zone,
    last_read_customer_at timestamp without time zone,
    last_read_provider_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.conversations OWNER TO admin;

--
-- Name: customer_preferences; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.customer_preferences (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    interests text,
    selected_plan public.customer_preferences_selected_plan_enum DEFAULT 'free'::public.customer_preferences_selected_plan_enum NOT NULL,
    preferred_region character varying(120),
    preferred_wilaya character varying(120),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.customer_preferences OWNER TO admin;

--
-- Name: favorite_providers; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.favorite_providers (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    provider_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.favorite_providers OWNER TO admin;

--
-- Name: provider_media; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.provider_media (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    provider_id uuid NOT NULL,
    service_id uuid,
    media_type public.provider_media_media_type_enum DEFAULT 'image'::public.provider_media_media_type_enum NOT NULL,
    media_url character varying(1000) NOT NULL,
    thumbnail_url character varying(1000),
    title character varying(180) NOT NULL,
    description text,
    is_published boolean DEFAULT true NOT NULL,
    is_featured boolean DEFAULT false NOT NULL,
    show_promo_badge boolean DEFAULT false NOT NULL,
    promo_badge_text character varying(80),
    sort_order integer DEFAULT 0 NOT NULL,
    likes_count integer DEFAULT 0 NOT NULL,
    comments_count integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    is_story boolean DEFAULT false NOT NULL,
    story_audience character varying(40) DEFAULT 'public'::character varying NOT NULL,
    story_expires_at timestamp without time zone
);


ALTER TABLE public.provider_media OWNER TO admin;

--
-- Name: provider_media_comments; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.provider_media_comments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    media_id uuid NOT NULL,
    user_id uuid NOT NULL,
    author_name character varying(180) NOT NULL,
    body text NOT NULL,
    is_visible boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.provider_media_comments OWNER TO admin;

--
-- Name: provider_media_likes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.provider_media_likes (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    media_id uuid NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.provider_media_likes OWNER TO admin;

--
-- Name: provider_moderation_reviews; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.provider_moderation_reviews (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    provider_id uuid NOT NULL,
    reviewer_user_id uuid NOT NULL,
    decision public.provider_moderation_reviews_decision_enum NOT NULL,
    note text,
    checklist_json text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.provider_moderation_reviews OWNER TO admin;

--
-- Name: provider_preferences; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.provider_preferences (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    provider_id uuid NOT NULL,
    selected_plan public.provider_preferences_selected_plan_enum DEFAULT 'basic'::public.provider_preferences_selected_plan_enum NOT NULL,
    featured_on_homepage boolean DEFAULT false NOT NULL,
    profile_badge_text character varying(80),
    auto_reply_enabled boolean DEFAULT false NOT NULL,
    auto_reply_tone character varying(30) DEFAULT 'professional'::character varying NOT NULL,
    auto_reply_signature character varying(160),
    privacy_show_email boolean DEFAULT false NOT NULL,
    privacy_show_phone boolean DEFAULT true NOT NULL,
    privacy_show_address boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.provider_preferences OWNER TO admin;

--
-- Name: provider_reviews; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.provider_reviews (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    provider_id uuid NOT NULL,
    rating integer NOT NULL,
    comment text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.provider_reviews OWNER TO admin;

--
-- Name: regions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.regions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(120) NOT NULL,
    slug character varying(140) NOT NULL,
    code character varying(30),
    display_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.regions OWNER TO admin;

--
-- Name: service_providers; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.service_providers (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    company_name character varying(180) NOT NULL,
    description text,
    region character varying(100),
    wilaya character varying(100),
    city character varying(100),
    address_line character varying(255),
    primary_category_id uuid,
    years_of_experience integer DEFAULT 0 NOT NULL,
    average_rating numeric(3,2) DEFAULT '0'::numeric NOT NULL,
    reviews_count integer DEFAULT 0 NOT NULL,
    response_time_minutes integer DEFAULT 0 NOT NULL,
    is_verified boolean DEFAULT false NOT NULL,
    status public.service_providers_status_enum DEFAULT 'pending'::public.service_providers_status_enum NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    avatar_url character varying(500),
    cover_url character varying(500),
    service_coverage_mode public.service_providers_service_coverage_mode_enum DEFAULT 'wilaya_only'::public.service_providers_service_coverage_mode_enum NOT NULL,
    service_coverage_regions text
);


ALTER TABLE public.service_providers OWNER TO admin;

--
-- Name: service_requests; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.service_requests (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    customer_user_id uuid NOT NULL,
    provider_id uuid NOT NULL,
    service_id uuid,
    conversation_id uuid,
    subject character varying(180),
    description text NOT NULL,
    budget_min numeric(12,2),
    budget_max numeric(12,2),
    quoted_price numeric(12,2),
    currency_code character varying(10) DEFAULT 'DZD'::character varying NOT NULL,
    provider_response text,
    customer_note text,
    preferred_date timestamp without time zone,
    status public.service_requests_status_enum DEFAULT 'new'::public.service_requests_status_enum NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.service_requests OWNER TO admin;

--
-- Name: services; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.services (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    provider_id uuid NOT NULL,
    category_id uuid,
    name character varying(180) NOT NULL,
    slug character varying(220) NOT NULL,
    description text NOT NULL,
    price numeric(12,2),
    currency_code character varying(10) DEFAULT 'DZD'::character varying NOT NULL,
    status public.services_status_enum DEFAULT 'draft'::public.services_status_enum NOT NULL,
    delivery_mode public.services_delivery_mode_enum DEFAULT 'on_site'::public.services_delivery_mode_enum NOT NULL,
    response_time_hours integer DEFAULT 24 NOT NULL,
    is_featured boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    show_promo_badge boolean DEFAULT false NOT NULL,
    promo_badge_text character varying(80)
);


ALTER TABLE public.services OWNER TO admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    phone_number character varying(30),
    role public.users_role_enum DEFAULT 'customer'::public.users_role_enum NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    email_verified boolean DEFAULT false NOT NULL,
    phone_verified boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: wilayas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.wilayas (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    region_id uuid,
    name character varying(120) NOT NULL,
    slug character varying(140) NOT NULL,
    code character varying(30),
    display_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.wilayas OWNER TO admin;

--
-- Data for Name: app_notifications; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: app_settings; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.app_settings (id, key, value_json, created_at, updated_at) FROM stdin;
5f3de14a-293c-4849-84ab-4b1550cd8227	general	{"platformName":"Professional Services Platform","seoTitle":"Professional Services Platform","seoDescription":"Marketplace for professional services","maintenanceMode":false,"maintenanceMessage":"Platform is under maintenance","systemNotificationsEnabled":true}	2026-04-12 15:24:06.597989	2026-04-12 15:24:06.597989
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: conversation_messages; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: customer_preferences; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.customer_preferences (id, user_id, interests, selected_plan, preferred_region, preferred_wilaya, created_at, updated_at) FROM stdin;
6addf55a-5cfb-4b90-b82f-6f3252391dff	0cebcbda-ad68-4ec7-98b3-044c897a1cec		premium	Ïº┘äÏ┤Ï▒┘é┘èÏ® Ïº┘äÏ┤┘àÏº┘ä┘èÏ®	Guelma	2026-04-12 15:25:50.219742	2026-04-12 15:37:02.897932
\.


--
-- Data for Name: favorite_providers; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.favorite_providers (id, user_id, provider_id, created_at) FROM stdin;
\.


--
-- Data for Name: provider_media; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: provider_media_comments; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: provider_media_likes; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.provider_media_likes (id, media_id, user_id, created_at) FROM stdin;
785fa478-288f-4437-8b83-cec5ab38d1d8	7b410436-f85b-480f-b108-ecf51046a8c8	0cebcbda-ad68-4ec7-98b3-044c897a1cec	2026-04-18 13:26:12.817193
168ebacf-c65e-42b3-8825-0bf6fa0ad9bb	d1d89914-4f4d-4e01-95f9-0931ecb57869	0cebcbda-ad68-4ec7-98b3-044c897a1cec	2026-04-19 00:03:50.044451
bcc6521f-5f1a-4a90-b66b-3789ba66fef5	8be0704f-dac8-49ba-a866-8976dcc03be6	0cebcbda-ad68-4ec7-98b3-044c897a1cec	2026-04-21 12:42:34.59914
\.


--
-- Data for Name: provider_moderation_reviews; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: provider_preferences; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: provider_reviews; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.provider_reviews (id, user_id, provider_id, rating, comment, created_at, updated_at) FROM stdin;
e8698cce-baca-4ec3-b46c-7186ce0669bc	0cebcbda-ad68-4ec7-98b3-044c897a1cec	11bfb26c-9ea5-468a-9d29-849b85df3d6c	5	Ïº┘äÏÁÏ»┘é Ïº┘ä┘àÏÁÏ»Ïº┘é┘èÏ®	2026-04-12 15:40:29.262292	2026-04-20 22:59:50.969764
9f9d9a5b-80a8-4ddb-a8b8-5923e29da9ac	0cebcbda-ad68-4ec7-98b3-044c897a1cec	2b6a4f15-3cce-4146-aeb3-f046a49f9f78	5	Ï¿Ï¿┘èÏ¿┘è	2026-04-12 22:15:17.301122	2026-04-21 12:41:18.160559
\.


--
-- Data for Name: regions; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: service_providers; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: service_requests; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: services; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: wilayas; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: conversation_messages PK_113248f25c4c0a7c179b3f5a609; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.conversation_messages
    ADD CONSTRAINT "PK_113248f25c4c0a7c179b3f5a609" PRIMARY KEY (id);


--
-- Name: provider_media_comments PK_1ee7d9bdac81a0ce734f4d2e5c0; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provider_media_comments
    ADD CONSTRAINT "PK_1ee7d9bdac81a0ce734f4d2e5c0" PRIMARY KEY (id);


--
-- Name: customer_preferences PK_20e6c37c7c01599737048da443b; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.customer_preferences
    ADD CONSTRAINT "PK_20e6c37c7c01599737048da443b" PRIMARY KEY (id);


--
-- Name: categories PK_24dbc6126a28ff948da33e97d3b; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "PK_24dbc6126a28ff948da33e97d3b" PRIMARY KEY (id);


--
-- Name: app_settings PK_4800b266ba790931744b3e53a74; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.app_settings
    ADD CONSTRAINT "PK_4800b266ba790931744b3e53a74" PRIMARY KEY (id);


--
-- Name: regions PK_4fcd12ed6a046276e2deb08801c; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.regions
    ADD CONSTRAINT "PK_4fcd12ed6a046276e2deb08801c" PRIMARY KEY (id);


--
-- Name: app_notifications PK_4ff08fe3c2ebf2593490403bbe0; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.app_notifications
    ADD CONSTRAINT "PK_4ff08fe3c2ebf2593490403bbe0" PRIMARY KEY (id);


--
-- Name: provider_moderation_reviews PK_59acba72b9adaa4331f95b41834; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provider_moderation_reviews
    ADD CONSTRAINT "PK_59acba72b9adaa4331f95b41834" PRIMARY KEY (id);


--
-- Name: service_providers PK_73c86f1298c5285d76e66da2da9; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.service_providers
    ADD CONSTRAINT "PK_73c86f1298c5285d76e66da2da9" PRIMARY KEY (id);


--
-- Name: provider_media PK_a21736160ddf1dc4799ff5c1b8e; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provider_media
    ADD CONSTRAINT "PK_a21736160ddf1dc4799ff5c1b8e" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: services PK_ba2d347a3168a296416c6c5ccb2; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT "PK_ba2d347a3168a296416c6c5ccb2" PRIMARY KEY (id);


--
-- Name: provider_preferences PK_caba0c2d3db72f21c96885e6001; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provider_preferences
    ADD CONSTRAINT "PK_caba0c2d3db72f21c96885e6001" PRIMARY KEY (id);


--
-- Name: provider_media_likes PK_ce8fa7a1ce027cb73aa12c285b5; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provider_media_likes
    ADD CONSTRAINT "PK_ce8fa7a1ce027cb73aa12c285b5" PRIMARY KEY (id);


--
-- Name: provider_reviews PK_d61b668c24910d63eb0ccffc90d; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provider_reviews
    ADD CONSTRAINT "PK_d61b668c24910d63eb0ccffc90d" PRIMARY KEY (id);


--
-- Name: favorite_providers PK_d6ca5c9344d13adf56b1d245d58; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.favorite_providers
    ADD CONSTRAINT "PK_d6ca5c9344d13adf56b1d245d58" PRIMARY KEY (id);


--
-- Name: conversations PK_ee34f4f7ced4ec8681f26bf04ef; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT "PK_ee34f4f7ced4ec8681f26bf04ef" PRIMARY KEY (id);


--
-- Name: service_requests PK_ee60bcd826b7e130bfbd97daf66; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.service_requests
    ADD CONSTRAINT "PK_ee60bcd826b7e130bfbd97daf66" PRIMARY KEY (id);


--
-- Name: wilayas PK_fee33960793c27e45b3162eb0d3; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.wilayas
    ADD CONSTRAINT "PK_fee33960793c27e45b3162eb0d3" PRIMARY KEY (id);


--
-- Name: services UQ_02cf0d0f46e11d22d952f623670; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT "UQ_02cf0d0f46e11d22d952f623670" UNIQUE (slug);


--
-- Name: regions UQ_1eb9a8899a7db89f6ba473fd847; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.regions
    ADD CONSTRAINT "UQ_1eb9a8899a7db89f6ba473fd847" UNIQUE (name);


--
-- Name: service_providers UQ_2cc7c52b39288cadfad8a0ad63c; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.service_providers
    ADD CONSTRAINT "UQ_2cc7c52b39288cadfad8a0ad63c" UNIQUE (user_id);


--
-- Name: provider_reviews UQ_3100d6185dd8f6f62d6aa4defa1; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provider_reviews
    ADD CONSTRAINT "UQ_3100d6185dd8f6f62d6aa4defa1" UNIQUE (user_id, provider_id);


--
-- Name: categories UQ_420d9f679d41281f282f5bc7d09; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "UQ_420d9f679d41281f282f5bc7d09" UNIQUE (slug);


--
-- Name: regions UQ_53cf784f23cbf14bb7717e969d4; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.regions
    ADD CONSTRAINT "UQ_53cf784f23cbf14bb7717e969d4" UNIQUE (slug);


--
-- Name: favorite_providers UQ_5904fd216826b08cb78b9c7fff2; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.favorite_providers
    ADD CONSTRAINT "UQ_5904fd216826b08cb78b9c7fff2" UNIQUE (user_id, provider_id);


--
-- Name: customer_preferences UQ_732edf4077d6c30b6875d66299e; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.customer_preferences
    ADD CONSTRAINT "UQ_732edf4077d6c30b6875d66299e" UNIQUE (user_id);


--
-- Name: app_settings UQ_975c2db59c65c05fd9c6b63a2ab; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.app_settings
    ADD CONSTRAINT "UQ_975c2db59c65c05fd9c6b63a2ab" UNIQUE (key);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: wilayas UQ_d39ae93cb59b81ab4dc2521e9f1; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.wilayas
    ADD CONSTRAINT "UQ_d39ae93cb59b81ab4dc2521e9f1" UNIQUE (slug);


--
-- Name: provider_preferences UQ_e56e8bcc7d507cd02c9862ab420; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provider_preferences
    ADD CONSTRAINT "UQ_e56e8bcc7d507cd02c9862ab420" UNIQUE (provider_id);


--
-- Name: provider_media_likes UQ_f367ec7171d5a4851b0673137ca; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provider_media_likes
    ADD CONSTRAINT "UQ_f367ec7171d5a4851b0673137ca" UNIQUE (media_id, user_id);


--
-- Name: wilayas UQ_fe03871dc5b980347e04e06fc3d; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.wilayas
    ADD CONSTRAINT "UQ_fe03871dc5b980347e04e06fc3d" UNIQUE (name);


--
-- Name: provider_moderation_reviews FK_0904a5b7f816d30926ab8d1e5c6; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provider_moderation_reviews
    ADD CONSTRAINT "FK_0904a5b7f816d30926ab8d1e5c6" FOREIGN KEY (reviewer_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: service_requests FK_15aad725d2ddd6966791fd97486; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.service_requests
    ADD CONSTRAINT "FK_15aad725d2ddd6966791fd97486" FOREIGN KEY (conversation_id) REFERENCES public.conversations(id) ON DELETE SET NULL;


--
-- Name: service_requests FK_1c2a35adb9aed8807aae3d51ee7; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.service_requests
    ADD CONSTRAINT "FK_1c2a35adb9aed8807aae3d51ee7" FOREIGN KEY (service_id) REFERENCES public.services(id) ON DELETE SET NULL;


--
-- Name: services FK_1f8d1173481678a035b4a81a4ec; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT "FK_1f8d1173481678a035b4a81a4ec" FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE SET NULL;


--
-- Name: provider_media FK_28f5b062e660f5f3d92937664eb; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provider_media
    ADD CONSTRAINT "FK_28f5b062e660f5f3d92937664eb" FOREIGN KEY (provider_id) REFERENCES public.service_providers(id) ON DELETE CASCADE;


--
-- Name: provider_media FK_2a7f1710f83d142ec7f55025b11; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provider_media
    ADD CONSTRAINT "FK_2a7f1710f83d142ec7f55025b11" FOREIGN KEY (service_id) REFERENCES public.services(id) ON DELETE SET NULL;


--
-- Name: service_providers FK_2cc7c52b39288cadfad8a0ad63c; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.service_providers
    ADD CONSTRAINT "FK_2cc7c52b39288cadfad8a0ad63c" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: service_requests FK_313794ad5d8b045b2230195a836; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.service_requests
    ADD CONSTRAINT "FK_313794ad5d8b045b2230195a836" FOREIGN KEY (customer_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: conversations FK_4c139d5c7a0be5e747e55c5fb0b; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT "FK_4c139d5c7a0be5e747e55c5fb0b" FOREIGN KEY (customer_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: conversations FK_536c49df96e0cf58822cd278c8a; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT "FK_536c49df96e0cf58822cd278c8a" FOREIGN KEY (service_id) REFERENCES public.services(id) ON DELETE SET NULL;


--
-- Name: provider_media_likes FK_6913eae5b8aeec69d1c8f12ccc6; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provider_media_likes
    ADD CONSTRAINT "FK_6913eae5b8aeec69d1c8f12ccc6" FOREIGN KEY (media_id) REFERENCES public.provider_media(id) ON DELETE CASCADE;


--
-- Name: wilayas FK_8134bb1395d963c9a33124ba4bb; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.wilayas
    ADD CONSTRAINT "FK_8134bb1395d963c9a33124ba4bb" FOREIGN KEY (region_id) REFERENCES public.regions(id) ON DELETE SET NULL;


--
-- Name: categories FK_88cea2dc9c31951d06437879b40; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "FK_88cea2dc9c31951d06437879b40" FOREIGN KEY (parent_id) REFERENCES public.categories(id) ON DELETE SET NULL;


--
-- Name: conversation_messages FK_8e166abf2dd2ee28670e53e6803; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.conversation_messages
    ADD CONSTRAINT "FK_8e166abf2dd2ee28670e53e6803" FOREIGN KEY (conversation_id) REFERENCES public.conversations(id) ON DELETE CASCADE;


--
-- Name: conversations FK_93f3c4e075389d1faccec56ab68; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT "FK_93f3c4e075389d1faccec56ab68" FOREIGN KEY (provider_id) REFERENCES public.service_providers(id) ON DELETE CASCADE;


--
-- Name: provider_moderation_reviews FK_9c5d7e80a26a90955dcd2a197fa; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provider_moderation_reviews
    ADD CONSTRAINT "FK_9c5d7e80a26a90955dcd2a197fa" FOREIGN KEY (provider_id) REFERENCES public.service_providers(id) ON DELETE CASCADE;


--
-- Name: service_providers FK_cdd39f981cb6f1a9a3464c1dae5; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.service_providers
    ADD CONSTRAINT "FK_cdd39f981cb6f1a9a3464c1dae5" FOREIGN KEY (primary_category_id) REFERENCES public.categories(id) ON DELETE SET NULL;


--
-- Name: provider_media_comments FK_d1c89d00773d2c49ac85f310169; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provider_media_comments
    ADD CONSTRAINT "FK_d1c89d00773d2c49ac85f310169" FOREIGN KEY (media_id) REFERENCES public.provider_media(id) ON DELETE CASCADE;


--
-- Name: conversation_messages FK_da71cc2d8f6f3a97681548b83eb; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.conversation_messages
    ADD CONSTRAINT "FK_da71cc2d8f6f3a97681548b83eb" FOREIGN KEY (sender_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: provider_preferences FK_e56e8bcc7d507cd02c9862ab420; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.provider_preferences
    ADD CONSTRAINT "FK_e56e8bcc7d507cd02c9862ab420" FOREIGN KEY (provider_id) REFERENCES public.service_providers(id) ON DELETE CASCADE;


--
-- Name: services FK_e7a40b21f8fd548be206fcc89b2; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT "FK_e7a40b21f8fd548be206fcc89b2" FOREIGN KEY (provider_id) REFERENCES public.service_providers(id) ON DELETE CASCADE;


--
-- Name: service_requests FK_f2bd4166e2e8f5804d7c459bc98; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.service_requests
    ADD CONSTRAINT "FK_f2bd4166e2e8f5804d7c459bc98" FOREIGN KEY (provider_id) REFERENCES public.service_providers(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict fofmWZZa5EMBYmPIcCwx7B4CEY9hxB8mxm76nM3itgVwRFN08pLgdSdd0yh15KL

